.navbar-inverse {
	background-color:white;
	border-top:17pt solid #E7720F;
	border-bottom:3pt solid #E7720F;
	margin-top:0px;
	margin-bottom:0px;
}

.navbar-toggle {
	background-color:#E7720F;
	border:none;
}

.navbar-brand {
	padding:0 0 0 10px;;
}


.navbar-inverse .navbar-nav  li  a:hover{
	color: #777;
	padding-bottom:0px;
	border-bottom:1px solid #E7720F;
}

.navbar-inverse .navbar-nav  li  a:focus  {
	color: #777;
	padding-bottom:0px;
	border-bottom:3px solid #E7720F;
	font-weight: bold;
}

.navbar-inverse .navbar-nav  li  a:active  {
	color: #777;
	padding-bottom:0px;
	border-bottom:3px solid #E7720F;
	font-weight: bold;
}

.navbar-inverse .navbar-nav .active  .dropdown-toggle  {
	background-color:transparent;
	color: #777;
	padding-bottom:0px;
	font-weight: bold;
}

.navbar-inverse .navbar-nav .active  a:hover{
  background-color:transparent;
 color: #777;
	padding-bottom:0px;
	border-bottom:3px solid #E7720F;
	font-weight: bold;
}

.navbar-inverse .navbar-nav .active  a:focus{
  background-color:transparent;
  color: #777;
	padding-bottom:0px;
	border-bottom:3px solid #E7720F;
	font-weight: bold;
}

#id_row_regSect {
	background-color:#F3C44D;
	border-top:5pt solid #EEAA00;
	border-bottom:5pt solid #EEAA00;
	}

#id_MainContainer{
 	top:50px;
	position: absolute;
	width: 100%;
}

#id_welSect {
	 	padding:0px;
	 	background-image: url("../img/ImageVecino.png");
	 	height: 500px;
	 	background-position: center; 
	 }

#id_div_cont_RegWelcSec {
	background-color:#F3C44D;
	border-top:12pt solid #EEAA00;
	border-bottom:12pt solid #EEAA00;
	position:absolute;
	}

.pad-top-bot {
  padding-top: 35px;
  padding-bottom: 35px;
}

.c_regSect {
	background-color:#F7D683;
	text-align:center;
	padding-top:13px;
	padding-bottom:0px;
	margin-top:8px;
	margin-bottom:8px;
	height:230pt;
}

.row {
	padding-right: 0px;
	margin-right: 0px;
}
@media screen and (max-width: 480px) {
    #id_welSect {
	 	padding:0px;
	 	background-image: url("../img/ImageVecino.png");
	 	height: 0px;
	 	background-position: center; 
	 }
}