.navbar-inverse {
	background-color:white;
	border-top:17pt solid #E7720F;
	border-bottom:3pt solid #E7720F;
	margin-top:0px;
	margin-bottom:0px;
}

.navbar-toggle {
	background-color:#E7720F;
	border:none;
}

.navbar-brand {
	padding:0 0 0 10px;;
}


.navbar-inverse .navbar-nav  li  a:hover{
	color: #777;
	padding-bottom:0px;
	border-bottom:3px solid #E7720F;
}

.navbar-inverse .navbar-nav  li  a:focus  {
	color: #777;
	padding-bottom:0px;
	border-bottom:3px solid #E7720F;
	font-weight: bold;
}

.navbar-inverse .navbar-nav  li  a:active  {
	color: #777;
	padding-bottom:0px;
	border-bottom:3px solid #E7720F;
	font-weight: bold;
}

.navbar-inverse .navbar-nav .active  .dropdown-toggle  {
	background-color:transparent;
	color: #777;
	padding-bottom:0px;
	font-weight: bold;
}

.navbar-inverse .navbar-nav .active  a:hover{
  background-color:transparent;
 color: #777;
	padding-bottom:0px;
	border-bottom:3px solid #E7720F;
	font-weight: bold;
}

.navbar-inverse .navbar-nav .active  a:focus{
  background-color:transparent;
  color: #777;
	padding-bottom:0px;
	border-bottom:3px solid #E7720F;
	font-weight: bold;
}

